<!-- <div class="range">
  <ngx-gauge [value]="gaugeValue" [label]="gaugeLabel" [thick]="10" [max]="1750"
    [type]="'arch'" [cap]="'round'" [foregroundColor]="'rgba(44, 148, 13, 0.774)'">
  </ngx-gauge>
  <div class="contain" #contain (mousedown)="rangeSliderInit()" (touchstart)="rangeSliderInit()"
    (mousemove)="rangeSliderUpdate($event)" (touchmove)="rangeSliderUpdate($event)" (mouseup)="rangeSliderStop()"
    (touchend)="rangeSliderStop()" (touchcancel)="callEvent($event)">
    <div class="left" #left></div>
    <div class="right" #right></div>
    <span class="info">
      <span class="count" #count>0</span>
      km/hr
    </span>
    <div class="dial" #dail tabindex="0"></div>
  </div>
</div> -->


<router-outlet></router-outlet>
